
.content{
    display: flex;
}
article{
    padding-left: 3em;
    padding-right: 3em;
}
article .titre h1{
    font-size: 30px;
    color: blue;
    text-align: center;
    margin: 0.5em;
}
article .titre h2{
    font-size: 24px;
    text-align: center;
    color: orangered;
}
article .titre h2{
    font-size: 18px;
}
article p, span{
    font-size: 18px;
}
article .titre{
    border: 2px solid;
    margin-top: 1px;
}
.article{
    display: flex;
}
.article .text{
    margin-left: 1em;
}
aside{
    width: 40%;
    height: 360px;
}