.inscription{
    display: flex;
}
.inscription .image{
    margin: 0.3em;
    width: 100%;
}
.inscription .formulaire .f{
    display: flex;
    margin: 3px auto;
    width: 90%;
    overflow-wrap: break-word;
}
.inscription .formulaire .f div{
    width: 100%;
    margin-right: 0.2em;
    margin: auto;
}
.inscription .formulaire h1, h3, p{
    margin: 1px auto;
    text-align: center;
}
.inscription .formulaire{
    background-image: url('../images/back.jpg');
    margin: 0.3em;
    width: 100%;
    border: 2px solid blue;
}
.inscription .formulaire label{
    width: 100%;
    margin-left: 0.7em;
    font-size: 18px;
    font-weight: bold;

}
.inscription .formulaire input, select{
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    margin: 0.3em;
    padding: 0.4em;
}
.inscription .formulaire .btn{
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin-left: 2.7em;
    margin-top: 0.5em;
    padding: 0.4em;
}
@media screen and (max-width: 950px) {
    .inscription{
        display: block;
    }
    .inscription .formulaire .f{
        display: block;
        margin: 3px auto;
        width: 90%;
        overflow-wrap: break-word;
    }
}
