.box {
  display: flex;
  margin: auto;
  width: max-content;
  background: gray;
  margin-top: -5%;
  margin-bottom: 2%;

}
.box button{
  background: transparent;
  width: 45px;
  height: 45px;
  padding: 0px;
}
.box  img{
  width: 45px;
  height: 45px;
  margin: 0px;
}
.box a{
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  background: #FFF;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.form-container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 3px 0px;
  padding: 10px;
}
.form-container hr{
  margin: 0px;
}
.form-container .formheader{
  background-image: url('../images/backmail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0px;
  padding: 10px;

}
.form-container .formheader p{
  background-color: none;
  color: #FFF;
  text-align: center;
}
.form-container .formheader .p span{
  background-color: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 0px 0px 3px 4px black;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 2px;
  margin: 2px 0 4px 0;
  border: none;
  border-bottom: red 1px solid;
  background: #f1f1f1;
}
.form-container .number, .name{
  display: flex;
}
.form-container .number select, textarea{
  padding: 2PX;
  margin-right: 5px;
  width: 70px;
}

/* Full-width input fields */

.form-container select{
  width: 100%;
  height: 40px;
  padding: 2px;
  margin: 8px 0 2px 0;
  border: none;
  border-bottom: red 1px solid;
  background: #f1f1f1;
}
@media only screen and (max-width: 800px){
  /* Full-width input fields */

.form-container select{
  width: 30px;
  height: 40px;
  padding: 2px;
  margin: 8px 0 2px 0;
  border: none;
  border-bottom: red 1px solid;
  background: #f1f1f1;
}
.form-container #infos{
  width: 15%;
  height: 40px;
  padding: 2px;
  margin-top: 8px;
  margin-right: 1px;
  margin-left: 1px;
  border: none;
  border-bottom: red 1px solid;
  background: blue;
  color: #FFF;
}
.form-container #code{
  width: 15%;
  height: 40px;
  padding: 2px;
  margin: 8px;
  margin-right: 3px;
  margin-left: 1px;
  border: none;
  border-bottom: red 1px solid;
  background: blue;
  color: #FFF;
}
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #FFF;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

#checkbox {
  width: 45px;
  height: 45px;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: white;
  position: relative;
}
#checkbox:hover {
  background: rgba(255, 255, 255, .7);
}

#checkbox::before {
  content: '\f1e0';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'font awesome 5 free';
  font-weight: 700;
  font-size: 1.8rem;
  color: rgb(41, 41, 41);
  transition: all 1.5s;
}
#checkbox:checked::before {
  content: '\f00d';
}
#checkbox:checked ~ .menu {
  width: 100%; /* 4 * 65 + 4 * 1 pour la bordure */
}
.menu {
  width: 0;
  display: flex;
  overflow: hidden;
  transition: all .5s;
}
.menu .menuItems {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background: white;
  border-left: 1px solid rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menuItems:hover {
  background: rgba(255, 255, 255, .7);
}
.menu .menuItems i {
  font-size: 1.8rem;
  
}
.formation{
  padding: 10px;
  background: white;
  color: black;
  text-align: center;
}
.formation span{
  color: black;
  text-align: center;
}
/* pour travail sou fixe content
s
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
