@media screen and (max-width: 950px) {
    .main, .container{
        width: 98.50%;
        margin: auto;
        padding: 0.1em;
        padding-left: 0px;
        padding-right: 2px;
    }
    .topnav{
        width: 100%;
        height: auto;
    }
    .content{
        display: block;
        width: 100%;
        padding: 0.1em;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 1px;
        
    }
    .coutenue{
        margin-left: 4px;
        margin-right: 1px;
        margin: auto;
        width: 98%;
    }
    .header, footer{
        width: 100%;
    }
    header{
        width: 100%;
        height: 100vw;
        overflow: hidden;
        
    }
    .annonces{
        width: 70%;
        height: auto;
        margin: 1px auto;
        padding: 1em;
    }
    .annonces h1{
        text-align: center;
        margin: 1px;
        font-size: 19;
        color: blue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .annonces h2{
        text-align: center;
        margin: 1px;
        font-size: 16;
        color: orangered;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .annonces p{
        text-align: center;
        margin: 1px;
        font-size: 12;
        color: black;
        font-family:'Times New Roman', Times, serif;
    }
    .annonces strong{
        color: red;
        font-family: 'Times New Roman', Times, serif;
    }
    .annonces .btnp{
        margin: 3px auto;
        text-align: center;
        width: max-content;
        border: 1px solid blue;
        padding: 8px;
        border-radius: 20px;
    }
    .annonces a{
        text-decoration: none;
    }
    .banniere{
        display: block;
    }
    .banniere .pub1{
        display: none;
        background-image: url('../gif pub/gif\ pub.gif');
        background-size: cover;
        background-repeat: no-repeat;
        margin:10px auto;
        margin-right: 3px;
        margin-left: 3px;
        width: 150px;
        height: 130px;
    }
    .banniere .pub2{
        display: none;
        background-image: url('../gif pub/fin\ intro\ zsolitude.gif');
        background-size: cover;
        background-repeat: no-repeat;
        margin:10px auto;
        margin-right: 3px;
        margin-left: 3px;
        width: 150px;
        height: 130px;
    }
    header .email{
        width: 70%;
    }
    aside{
        display: none;
    }
    .card{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        overflow: hidden;
    }
    .card .item{
        min-width: 300px;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }
    #home .home{
        display: block;
        
    }
    #home img{
        width: 100%;
    }
    .home .detail{
        display: block;
        width: 100%;
    }
    .home #detail{
        width: 100%;
    }
    .home #images{
        width: 100%;
    }
    article{
        display: block;
        width: 100%;
    }
    article div{
        width: 100%;
    }
    .accueil{
        display: block;
    }
    .vid{
        width: 100%;
    }
    .list-videos{
        width: 100%;
    }
    .shope-card{
        display: block;
    }
    .shope-card .card{
        margin-bottom: 1em;
    }

    .bar{
        display: flex;
        overflow-x: scroll;
        overflow: hidden;
        width: 100%;
        height: 110px;
        background-color: gray;
        margin-bottom: 1em;
    }
    .a-detail{
        background-color: white;
        border: 1px solid blue;
        margin-left: 0.2em;
        margin-right: 0.2em;
        margin-top: 0.3em;
        width: 399px;
        height: 100px;
    }
    .inscription{
        display: block;
        width: 100%;
    }
    .inscription .formulaire .f{
        display: block;
    }
    
    
}