

#ttr_header_inner {
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.ttr_header_logo{
    height: 400px;
}
header .ttr_headershape01{
    padding: 1em;
    height: max-content;
}
header .ttr_headershape01 .html_content{
    padding: 1em;
    height: max-content;
}
header .ttr_headershape01 .html_content h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
}
header .ttr_headershape01 .html_content h1 strong, em{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    text-align:center;
}
header .ttr_headershape01 .html_content ul{
    margin-left: 2em;
}
header .ttr_headershape01 .html_content p span{
    text-align: left;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
}
header .ttr_headershape01 .html_content ul li{
    text-align: left;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

header .ttr_headershape01 .html_content .btn-offres{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 38px;
    width: 90%;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 1em ;
    margin-bottom: 1px;
    padding: 0.7em;
}
.card{
    width: 100%;
    display: flex;
}
.card .item{
    width: 100%;
    margin: 0.3em;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}
.card .item img{
    width: 100px;
    margin: 0 auto;
}
.card .item strong{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.card .item em{
    font-size: 18px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.card .item b{
    font-size: 18px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
.card .item ul li{
    margin-left: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.card .item h1{
    font-size: 22px;
    text-align: center;
}
.card .item .gdes{
    font-size: 17px;
    text-align: left;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1em;
}
.card .item .us{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.3em;
}
.card .item a{
    text-align: right;
    text-decoration: none;
}
.card .item .of{
    width: max-content;
    height: max-content;
    align-items: right;
    padding: 0.6em;
    background-color: black;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card p{
    font-size: 13;
    text-align: center;
}
.card button{
    border:none;
    padding:6px 2 6px 2;
    border-radius:15%;
    border-bottom:3px solid gray;
    font:bold 13px Arial;
    color: white;
    background: blue;
    padding: 0.5em;
    animation-name: example;
    animation-duration: 10s;
}
.post_column .ttr_home_html_column01 .html_content{
    color: red;
}
.post_column .ttr_home_html_column01 .html_content p span{
   
    color:white;
}

.post_column .ttr_home_html_column21 .html_content .item-list{
    overflow: hidden;
    display: flex;
    width: 96%;
    height: max-content;
    margin: 1em;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}
.post_column .ttr_home_html_column21 .html_conten{
    overflow: hidden;
    display: none;
    width: 100%;
    height: max-content;
    margin: 1em;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}
.post_column .ttr_home_html_column21 .html_content .item-img{
    width: 150px;
    height: 90px;
    border-radius: 50px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.7em;
}
.post_column .ttr_home_html_column21 .html_content .item-img img{
    width: 100%;
}
.post_column .ttr_home_html_column21 .html_content .item-list .detail h1{
    color: blue;
    font-size: 25px;
    margin-bottom: 2px;
}
.post_column .ttr_home_html_column21 .html_content .item-list .detail p{
    color: black;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: -1em;
}
.post_column .ttr_home_html_column21 .html_content .item-list .detail h1 span{
    background-color: blue;
    text-align: right;
    font-size: 16px;
    border-top-right-radius: 20px;
    color: white;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.bar{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 110px;
    background-color: gray;
    margin-bottom: 1em;
}
.a-detail{
    background-color: white;
    border: 1px solid blue;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.3em;
    width: 100%;
    height: 100px;
}
.a-detail h1{
    font-size: 16px;
    margin-left: 0.3em;
    margin-bottom: 1px;
    margin-top: 1em;
}
.a-detail ul{
    margin: 2px;
    margin-left: 2em;
}
.a-detail ul li{
    margin-top: 1px;
    margin-left: 2em;
    font-size: 12px;
}
.reseaux{
    background-color: gray;
    display: flex;
    width: 100%;
    padding: 0.2em;
    margin: 1em auto;
    
}
.reseaux .fb-like{
    border: 2px solid white;
    margin: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
}
/*pati responsive de mon ftech plus 950 px*/
@media screen and (max-width: 600px) {
    .ttr_headershape01{
        border: green 2px solid;
        width: 90%;
        height: max-content;
        margin-left: 1.5em;
    }
    header .ttr_headershape01 .html_content{
        margin: auto ;
        border: 2px solid;
    }

    header .ttr_headershape01 .html_content h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    header .ttr_headershape01 .html_content h1 strong, em{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    header .ttr_headershape01 .html_content ul{
        margin-left: 2em;
    }
    header .ttr_headershape01 .html_content ul li{
        text-align: left;
        list-style: none;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        font-size: 14px;
    }
    header .ttr_headershape01 .html_content .btn-offres{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 38px;
        width: 90%;
        border: 2px solid blue;
        border-radius: 20px;
        background-color: black;
        color: white;
        text-align: center;
        margin: 1em ;
        padding: 0.7em;
    }
    header .ttr_headershape01 .html_content p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    .card{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        overflow: hidden;
    }
    .card .item{
        min-width: 300px;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }
    .post_column .ttr_home_html_column02{
        display: none;
    }
    .post_column .ttr_home_html_column01 .html_content h1{
        color:white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }
    .post_column .ttr_home_html_column01 .html_content h2{
        font-size: 20px;
        color:white;
    }
    .post_column .ttr_home_html_column01 .html_content p{
        font-size: 13px;
        color:white;
    }
    .post_column .ttr_home_html_column00{
        margin: auto;
        width: 100%;
    }
    .post_column .ttr_home_html_column00 img{
        margin: auto;
        width: 100%;
    }
}