*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgb(4, 89, 216);
    position: fixed;
    top: 0%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #eca406;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .header{
    background: url('../images/back2.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  .header-content{
    overflow: hidden;
      display: flex;
      width: 75%;
      background-color: rgb(255, 255, 255, 0.3);
      margin: -12px auto;
      margin-bottom: 2px;
  }
  .header-item img{
    width: 50%;
    height: 340px;
    margin-top: 1em;
  }
  .header-item{
      width: 100%;
      height: max-content;
      margin-top: 1em;
      padding-bottom: 1em;
      display: inline-block;
      overflow: hidden;
      margin: 1em;
      background-color: rgb(255, 255, 255, 0.7);;
  }
  .header-content #header-item1{
      margin-top: 2em;
  }
  .item-desc{
      width: 100%;
      
  }
  .item-desc h1{
    font-size: 28px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item-desc h2{
    font-size: 24px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item-desc h3{
    font-size: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  .item-desc p, span{
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      margin: 1em;
  }

  .item-desc a{
      font-size: 20px;
      color: white;
      background-color: rgb(4, 4, 56, 0.4);
      width: max-content;
      margin: auto;
      padding: 0.6em;
      text-align: center;
      border: 1px solid;
      border-radius: 15px;
  }
  .btn{
    font-size: 20px;
    color: white;
    background-color: rgb(4, 4, 56, 0.4);
    width: max-content;
    margin: 3em auto;
    padding: 0.6em;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}
.btn a{
  font-size: 20px;
  color: white;
  background-color: rgb(4, 4, 56, 0.4);
  width: max-content;
  margin: 3em auto;
  padding: 0.6em;
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
}

  .container{
    width: 100%;
    padding: 1em;
    display: inline-block;
  }
  .content{
    width: 90%;
    margin: 1em auto;
  }

  section{
    width: 100%;
  }
  #home{
    background: white;
    padding-left:0.1em ;
    padding-right: 0.1em;
    display: flex;
    margin: 0.1em;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.54) inset;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.54) inset;
  -moz-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.54) inset;
  }
  #home .annonce{
    width: 30%;
    margin-top: 2em;
  }
  #home img{
    width: 100%;
  }
  #home .home{
    margin: 1.3em auto;
    margin-bottom: 1em;
  }
  .home p, span{
    margin-bottom: 2em;
  }
  .card{
    width: 100%;
    display: flex;
}
.card .item{
    width: 100%;
    margin: 0.3em;
    margin-left: 0.2em;
        margin-right: 0.2em;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}
.card .item img{
    width: 100px;
    margin: 0 auto;
}
.card .item strong{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.card .item em{
    font-size: 18px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.card .item b{
    font-size: 18px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
.card .item ul li{
    margin-left: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.card .item h1{
    font-size: 22px;
    text-align: center;
}
.card .item .gdes{
    font-size: 17px;
    text-align: left;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1em;
}
.card .item .us{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.3em;
}
.card .item a{
    text-align: right;
    text-decoration: none;
}
.card .item .of{
    width: max-content;
    height: max-content;
    align-items: right;
    padding: 0.6em;
    background-color: black;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card p{
    font-size: 13;
    text-align: center;
}
.card button{
    border:none;
    padding:6px 2 6px 2;
    border-radius:15%;
    border-bottom:3px solid gray;
    font:bold 13px Arial;
    color: white;
    background: blue;
    padding: 0.5em;
    animation-name: example;
    animation-duration: 10s;
}

#liste{
  display: flex;
  margin-top: 1em;
}
#liste .images{
  width: 100%;
}
#liste .liste{
  width: 100%;
}

.images img{
  width: 100%;
}
.item-img img{
  width: 50px;
}
.item-list{
  display: flex;
  margin-left: 0.5em;
  margin-top: 0.6em;
}

.horloge{
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 2px 50px rgba(10,10,10,0.5);
  
}
.date{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(10,10,10,0.2);

}

.heures{
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(10,10,10,0.2);
}

a:link,
  a:visited{
   text-decoration: none;
  }

  .modal{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  .modal__content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  #modal:target{
   opacity: 1;
   visibility: visible;
  }

  #modal:target .modal__content{
   opacity: 1;
   visibility: visible;
  }

  .modal__close{
   color: #363636;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
  }

  .modal__heading{
   color: dodgerblue;
   margin-bottom: 1em;
  }

  .modal__paragraph{
   line-height: 1.5em;
  }

.modal-open{
 display: inline-block;
 color: dodgerblue;
 margin: 2em;
}
footer{
  width: 100%;
  background-color: black;
  height: 100px;
}
.header .reseau{
  margin-top: 3em;
  height: auto;
}
.contact{
  background-image: url('../images/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: auto;
}
.contact .contact-image{
  width: 80%;
  max-height: 50%;
}
.contact .contact-image img{
  width: 100%;
}
.contact-form{
  background-color: rgb(255, 255, 255, 0.8);
  max-height: 50%;
}
 .contact-form textarea {
  resize: none;
  height: 200px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 8px;
  resize: vertical;
}
.mySlides {display:none;}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form {
  padding: 20px;
}


.bar{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 110px;
  background-color: gray;
  margin-bottom: 1em;
}
.a-detail{
  background-color: white;
  border: 1px solid blue;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.3em;
  width: 100%;
  height: 100px;
}
.a-detail h1{
  font-size: 16px;
  margin-left: 0.3em;
  margin-bottom: 1px;
  margin-top: 1em;
}
.a-detail ul{
  margin: 2px;
  margin-left: 2em;
}
.a-detail ul li{
  margin-top: 1px;
  margin-left: 2em;
  font-size: 12px;
}
.bar{
  display: flex;
  width: 100%;
  height: max-content;
  background-color: gray;
  box-shadow: 1px 1px 1px black;
}
.bar button{
  width: 100%;
}
.bar img{
  width: 30px;
}
.bar .share_twitter{
  background-color: rgb(3, 87, 143);
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bar .share_facebook{
  background-color: rgb(1, 15, 78);
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bar .share_whatsapp{
  background-color: rgb(1, 172, 15);
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bar .share_telegram{
  background-color: rgb(33, 63, 197);
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


aside{
  width: 25%;
  height: 360px;
  background-color: blue;
}

