
body{
  background: white;
  padding: 0px;
  margin: 0px;
}
.container{
  width: 60%;
  margin: auto;
}

/* Le menu de mon blog ici*/
.topnav {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.topnav a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 4px;
  margin-right: 4px;
  margin: 4px;
  box-shadow: 0px 0px 3px 1px black
}

.active {
  background-color: #04AA6D;
  color: rgb(155, 145, 145);
}
.active{
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
  margin: 4px;
  box-shadow: 0px 0px 3px 1px black
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: orangered;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* fin menu de mon blog ici*/

header{
  display: none;
  background-image: url('https://th.bing.com/th/id/R.2eb40ec93502f99e836dc7163eb42fbb?rik=FUE4IcbJS1j34w&riu=http%3a%2f%2fwww.entrepreneurshiplife.com%2fwp-content%2fuploads%2f2016%2f07%2fdigital-marketing.jpg&ehk=HDbQcsOMEIaUfGsZ5FBxVkO%2f0C1wGPbsUdypmLvXSSI%3d&risl=&pid=ImgRaw&r=0g');
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 300px;
  justify-content: space-between;
  margin: auto;
}
.content{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
main{
  display: flex;
  width: 100%;
  border: 1px solid red;
  box-shadow: 0px 0px 3px 0px;
}
section{
  margin: 10px;
}
details hr{
  margin: 1px;
}
#details p{
  text-align: center;
  margin: 2px;
}
#details p span{
  font-size: 26px;
  margin: 6px;
  color: blue;
  margin: auto;
  text-align: center;
}
#details .price{
  font-size: 26px;
  margin: 6px;
  color: red;
}
h1{
  color: blue;
}
ul li{
  list-style: none;
}
#details ul ol li{
 margin-left: -20px;
 list-style: none;
}
#details ul li strong{
  color: rgb(3, 145, 211);
}
aside{
  display: none;
  width: 30%;
  background: red;
}
aside .block{
  background: white;
  margin: 5px;
}
aside #first{
  padding: 5px;
}
aside .article{
  border-radius: 25px;
  display: flex;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 10px 10px 0px black;
}
aside .article div{
  margin: 5px;
}
aside .article img{
  max-width: 150px;
}
aside .article p{
  text-align: justify;
}
aside .article button{
  border: 1px solid blue ;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;

}
/* subscriber de mon site dans le sidebar*/
.wrapper{
  margin: auto;
  background: #fff;
  width: 400px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.wrapper .top::before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #1414b8;
  bottom: -10px;
  transform: rotate(45deg);
}
.wrapper .top i{
  font-size: 70px;
  color: #ccc;
}
.wrapper .bottom{
  padding: 30px;
  word-spacing: -1px;
}
.wrapper .bottom .info{
  font-size: 20px;
  font-weight: 500;
}
.wrapper .bottom .input-box{
  height: 45px;
  margin: 15px 0 10px 0;
}
.wrapper form .input-box input{
  height: 100%;
  width: 100%;
  padding-left: 14px;
  outline: none;
  font-size: 18px;
  border-radius: 25px;
  transition: all 0.4s ease;

}
.wrapper .bottom input[type="text"]{
  border: 2px solid #ccc;
}
.wrapper .bottom input[type="text"]:focus,
.wrapper .bottom input[type="text"]:valid{
  border-color: #6665ee;
}
.wrapper .bottom input[type="submit"]{
  border: none;
  cursor: pointer;
  background: #6665ee;
  color: #fff;
  letter-spacing: 1px;
}
.wrapper .bottom input[type="submit"]:hover{
  background: #1414b8;
}
.wrapper .bottom .footer{
  font-size: 16px;
  margin-top: 12px;
}
.course {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
display: flex;
width: 100%;
margin: 2px;
overflow: hidden;
}

.course h6 {
opacity: 0.6;
margin: 0;
letter-spacing: 1px;
text-transform: uppercase;
}

.course h2 {
letter-spacing: 1px;
margin: 10px 0;
}

.course-preview {
background-color: #2A265F;
color: #fff;
padding: 5px;
margin-top: 0px;
max-width: 30%;
height: max-content;
}

.course-preview img{
  width: 100%;
  margin: 0px;
}

.course-preview a {
color: #fff;
display: inline-block;
font-size: 12px;
opacity: 0.6;
margin-top: 30px;
text-decoration: none;
}

.course-info {
padding: 30px;
position: relative;
width: 100%;
}

.course-info .btn {
background-color: #2A265F;
border: 0;
border-radius: 50px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
color: #fff;
font-size: 16px;
padding: 5px;
letter-spacing: 1px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
bottom: 50%;
right: 50%;
padding: 10px;
background: blue;
border: 1px solid blue;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 350px;
padding: 10px;
margin: 10px;
box-sizing: border-box;
box-shadow: 0px 0px 3px 1px black;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
#myProgress{
    width: 100%;
    border: 1px solid gray;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items:flex-start;
}
#myProgress #myBar{
    align-items: left;
    background: blue;
    width: 1%;
    height: 19px;
}

.balance{
  display: flex;
  justify-content: space-between;
}
.prix, .groupe{
  display: flex;
  justify-content: space-between;
}
.prix .espace, .groupe p{
  background: white;
  border: 1px solid blue;
  padding: 10px;
  width: 100%;
}
.prix #prix, .groupe #montant{
  width: 50px;
  padding: 10px;
  text-align: center;
  color: red;
  align-items: center;
}
#myForm{
  background: blue;
  padding: 10px;
  width: 300px;
}
#myForm .fermer{
  height: 20px;
  position: absolute;
  top: 0%;
  right: 85%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  background: orange;
  cursor: pointer;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 25%;
  width: max-content;
  padding: auto;
  align-items: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#myForm .fermer:hover{
  background: red;
  font-size: 18px;
  transform: rotate(90deg);
  opacity: 0.9;
}
#myForm input{
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #FFF;
  border: 1px solid blue;
}
#myForm .btn{
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#myForm .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background: orange;
}
#myForm .balancebtn{
  width: 100%;
  height: 49px;
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#myForm #paie{
  display: none;
}
#paie p{
  background: blue;
  padding: 5px;
  color: white;
  margin: 0px;
  font-style: italic;
}
#myForm h1{
  font-size: 20px;
  text-align: center;
  background: blue;
  padding: 10px;
  color: #FFF;
  text-shadow: 0px 3px 0px 1px black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#myForm a{
  text-decoration: none;
}
/* Share Buttons */

.share-btn-container {
  background: #fff;
  width: max-content;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.share-btn-container a i {
  font-size: 30px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
  margin: 2px 10px 2px 10px;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
  margin: 2px 10px 2px 10px;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
  margin: 2px 10px 2px 10px;
}

@media screen and (max-width: 800px) {
  .content{
    width: 100%;
    margin: 0px;
    flex-wrap: wrap;
  }
  .topnav {
    width: 100%;
  }
  header{
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main{
    flex-wrap: wrap;
  }
  img{
    width: 100%;
  }
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 30%;
    right: 5%;
    padding: 10px;
    background: blue;
    border: 1px solid blue;
    z-index: 9;
    }
  aside{
    display: none;
  }

}