@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    aside{
        display: none;
    }
    header{
        width: 100%;
        height: 300px;
        background-color: orangered;
        margin-bottom: 1px;
    }
  
    .container{
      width: 100%;
      padding: 1px;
      display: inline-block;
    }
    .coutenu{
        display: block;
    }
    .content{
      width: 100%;
      margin: 1px auto;
    }
  
    section{
      width: 100%;
    }
    .section-bar{
        width: 99.4%;
        border: blue 2px solid;
        text-align: center;
        font-size: 14px;
        margin:-0.1em auto 1px;
        margin-left: 0.1em;
    }
    .card{
        display: flex;
        width: 100%;
        margin: 1px;
        padding: 1px;
        overflow-x: scroll;
        overflow: auto;
    }
    .card .item{
        min-width: 250px;
        margin: 1em auto;
        margin-bottom: 0.5em;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
    .card{
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }
    .card .item h1{
        font-size: 18px;
    }
    .card .item p, span{
        font-size: 12px;
    }
    article{
        display: block;
    }
    .content{
        display: block;
    }
    .fichier{
        width: 90%;
        margin: auto;
        border: 2px solid;

    }
    .fichier img{
        width: 50%;
    }
    article .paiment{
        position: relative;
        left: 0%;
        right: 0%;
        margin:2px auto;
        width: 90%;
        height: max-content;
        border: 2px solid orange;
        overflow: hidden;
    }
    
  }
  