*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgb(4, 89, 216);
    position: fixed;
    top: 0%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #eca406;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  header{
      width: 100%;
      height: 300px;
      background-color: orangered;
      margin-bottom: 1px;
      margin-top: 3em;
  }

  .container{
    width: 100%;
    padding: 1em;
    display: inline-block;
  }
  .coutenu{
      display: flex;
  }
  .content{
    width: 90%;
    margin: 1em auto;
  }

  section{
    width: 100%;
  }
  .section-bar{
      width: 99.4%;
      border: blue 2px solid;
      text-align: center;
      font-size: 25px;
      margin:-0.5em auto 0.4em;
      margin-left: 0.1em;
  }
  .section-bar h1{
    font-size: 26px;
    color: blue;
  }
.card{
    width: 100%;
    display: flex;
}
.card .item{
    width: 100%;
    margin: 0.3em;
    margin-left: 0.2em;
        margin-right: 0.2em;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}
.item .bar-item{
    display: flex;
}
.item .bar-item .of-p{
    width: 100%;
    background-color: orange;
    padding: 0.6em;
    font-weight: bold;
}
.item .bar-item p{
    color: white;
}
.item .bar-item p span{
    color: blue;
}
.card .item img{
    width: 100%;
    margin: 0 auto;
}
.card .item strong{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.card .item em{
    font-size: 18px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.card .item b{
    font-size: 18px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
.card .item ul li{
    margin-left: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.card .item h1{
    font-size: 19px;
    color: blue;
    text-align: center;
}
.card .item .gdes{
    font-size: 17px;
    text-align: left;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1em;
}
.card .item .us{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.3em;
}
.card .item a{
    text-align: right;
    text-decoration: none;
}
.card .item .of{
    width: 100%;
    height: max-content;
    align-items: right;
    padding: 0.6em;
    background-color: black;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card p{
    font-size: 13;
    text-align: center;
}
.card button{
    border:none;
    padding:6px 2 6px 2;
    border-radius:15%;
    border-bottom:3px solid gray;
    font:bold 13px Arial;
    color: white;
    background: blue;
    padding: 0.5em;
    animation-name: example;
    animation-duration: 10s;
}
.card .btn-a{
    margin-left: 1.2em;
    margin-right: 1px;
    border: 2px solid blue;
    padding:2px 2 2px 2;
    font:bold 13px Arial;
    padding: 0.5em;
    animation-name: example;
    animation-duration: 10s;
}

.card .prix-btn{
    display: flex;
    width: 100%;
}
.articles h1{
    font-size: 30px;
    color: blue;
    text-align: center;
}
.articles hr{
    margin:0.2em 0.2em 0.4em 0.2em;
}
article{
    display: flex;
}
article img{
    width: 100%;
}
article .item1{
    width: 100%;
}
article .item2{
    width: 100%;
}
article .item2 ul{
    margin: 0.2em;
}
article .item2 ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0.2em;
    margin: 0.7em;
    font-size: 18px;
    border-bottom: 1px solid orangered;
    padding: 1px;
    width: max-content;
}
article .item2 ul li span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid;
    padding: 0px 5px 0px 5px;
}
article .btn-prix{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}
article .a{
    margin-left: 1.2em;
    margin-right: 1px;
    border: 2px solid blue;
    padding:2px 2 2px 2;
    font:bold 13px Arial;
    padding: 0.5em;
    animation-name: example;
    animation-duration: 10s;
}
article .paiment{
    background-image: url('../images/cartoon.jpg');
    position: relative;
    left: -3%;
    right: 0%;
    width: 660px;
    height: max-content;
    border: 2px solid orange;
    overflow: hidden;
}
.groupe h1{
    font-size: 18px;
}
.articles .details{
    display: flex;
    width: 99.60%;
    height: 250px;
    margin-top: 1em;
    margin-right: 1em;
}
.details img{
    width: 49.50%;
    margin:0px 2px 0px 2px;
}
.reseau{
    border: 2px solid;
    width: 99.60%;
}
aside{
    width: 25%;
    height: auto;
    background-color: blue;
}
  footer{
    width: 100%;
    height: 100px;
    background-color: black;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  aside .block{
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  aside .block-header{
    background-color: white;
    color: black;
    border-bottom: 2px solid;
    margin:0px 0.2em 0px 0.2em ;
  }
  aside .block-header h1{
    font-size: 18px ;
    padding: 2px 4px 1px 4px;
  }
  aside .block-content{
    margin:7px 0.2em 9px 0.2em ;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  }
  aside .block-content p{
    text-align: center;
  }
  aside .block-content .details img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  aside .block-content .details p span{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
  }
  aside .block-content .email form{
    border: 2px solid orangered;
    margin: 5px;
    padding: 0.3em;
  }
  aside .block-content .email .button-blue{
    width: 100%;
    margin: 5px 2px;
  }
    .email p span{
      font-size: 14px;
      color: red;
  }
  


