.block{
    border: 1px solid blue;
    background-color: blue;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0.2em;
}
.groupe h1{
    color: orange;
    font-size: 16px;
    text-align: center;
    margin: 1px;
}
.block .form{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 85%;
    border: 1px solid orange;
}
.block .form{
    background-color: white;
    padding: 1em;
}
p{
    margin: 1px;
    font-weight: bold;
    text-align: center;
}
input{
    border: 1px solid black;
    width: 94%;
    margin: 2px auto;
    padding: 0.4em;
}
.block .form .input{
    background-color: white;
    border: 1px solid;
    width: 90%;
    margin:1em auto;
    padding: 0.5em;
    margin-right: 1em;
}
.prix{
    display: flex;
    width: 100%;
    overflow: hidden;
}
#prix{
    width: 30px;
    text-align: center;
    color: red;
    font-weight: bolder;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.prix1{
    width: 40%;
    text-align: center;
    color: blue;
    font-weight: bolder;
}
.input p{
    border: 2px solid;
    padding: 2px;
}
#montant{
    padding: 2px;
    border: 2px solid;
    width: 60px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
}
#clean{
    width: 100%;
    background-color: black;
    border: 1px solid orange;
    color: white;
    padding: 0.4em;
}
.bar-btn{
    border: 2px solid;
    display: flex;
}
.bar-btn button{
    display: flex;
    width: 95%;
    margin: 0.3em;
    border: 1px solid blue;
    background-color: white;
}
.bar-btn button img{
    width: 30px;
    height: 18px;
    margin: 0px;
}
.bar-btn button strong{
    margin: 0.2em;
}