/* partie header en mode mobile*/
@media screen and (max-width: 800px) {
  body{
    margin: 0px;
    padding: 0px;
  }
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .container{
    border: 1px solid gray;
    width: 100%;
    margin: auto;
  }
  .topnav {
    width: 100%;
    margin: 0px;
   
  }
  header{
    background-image: url('/images/header8.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
  }
  
  header .slide{
    height: 150px;
    width: 40%;
    display: none;
  }
  header .texte {
    height: 190px;
    border: 0px;
  }
  header #form{
    width: 100%;
    margin: 0px;
    height: 164px;
  }
  header #form h1{
    font-size: 3.5vw;
  }
  header #form h2{
    font-size: 3vw;
  }
  header #form p{
    font-size: 3vw;
  }
  header #form div button{
    font-size: 3.7vw;
  }
  header #form ul li{
    font-size: 3.7vw;
    margin-top: 0px;
  }
  header #form div input[type=mail]{
    font-size: 3vw;
    margin: 0px;
  }

  main .home .form {
    width: 100%;
    border-radius: 5px;
    background-color: blue;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  main .home #form{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    background: orange;
    padding: 10px;
  }
  main .home .form h3{
    font-size: 4vw;
  }
  main .home .form h4{
    font-size: 3.5vw;
  }
  main .home input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



}

@media screen and (max-width: 800px){
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 5vw;
  }
  h3{
    font-size: 3vw;
    text-align: center;
  }
  h4{
    font-size: 3vw;
    text-align: center;
  }
  main{
    width: 100%;
    padding: 0px;
  } 
  main .home{
    width: 100%;
    margin-bottom: 25px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
  }
  main .home div{
    width: 100%;
    margin: 0px;
    padding: 1px;
  }
  main .home div h1{
    font-size: 5vw;
  }
  main .home div h2{
    font-size: 4vw;
  }
  main .home div p{
    font-size: 4vw;
    text-align: justify;
    margin: 2px 5px 10px 1px;
  }
  main .service{
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main #service h1{
    font-size: 6vw;
  }
  main .service div{
    width: 100%;
    margin-top: 10px;
  }
  .content, footer{
    width: 100%;
  }
  aside{
    display: none;
  }
  footer{
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  footer div{
    width: 100%;
  }

  /*boutton de partage*/
  .content {
    padding: 4px 12px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: 1px solid red;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    align-items: center;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
 
}